@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dim";
  default: true; 
}

@keyframes scanMove {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
